{% block profile %}
<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href="/about">
                {% if request.path == url_for('about') %}
                <a href="{{ url_for('index') }}">
                {% endif %}
                {% if request.path == url_for('index') %}
                <a href="{{ url_for('about') }}">
                {% endif %}
                    <img id="avatar" class="2x" src="{{ url_for('static', filename='images/avatar.jpg') }}"/>
                </a>
                <h1>Thomas Perrot</h1>
                <h2>Engineer at <span class="highlight">Cybelangel</span> from the <span class="highlight">"Ecole Centrale de Lyon"</span>
            </h2>
        </header>
    </section>
</div>
{% endblock %}