{% extends "base.html" %}

{% block content %}
<div class="about">
    <ol class="list-view">

        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(static/images/experience.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>Things I've made</h3>
                </div>
                <p class="_summary"><a href="http://www.epsa-team.com/">EPSA</a>, I designed and implemented a <a
                        href="https://github.com/thomasperrot/monitoring_arduino">monitoring system</a> for a race
                    car with Arduino in <span class="highlight">C</span>,</p>
                <p class="_summary"><a href="http://citybyglass.eclair.ec-lyon.fr/eng/">CityByGlass</a>, an <span
                        class="highlight">Android</span> application on Google Glasses like to do tourism with
                    augmented reality, </p>
                <p class="_summary"><a href="https://github.com/thomasperrot/atelier_garage">GaragePlus</a>, a <span
                        class="highlight">PHP</span> and <span class="highlight">SQL</span> written website used to
                    manage a garage,</p>
                <p class="_summary"><a href="https://github.com/thomasperrot/tweeter_java">TwitterSoft</a>, a <span
                        class="highlight">Java</span> application to chat using Twitter way,</p>
                <p class="_summary">You can find more on my <a href="https://github.com/thomasperrot">Github</a></p>
            </div>
        </li>

        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(static/images/work.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>Places I worked in</h3>
                </div>
                <p class="_summary">Internship (6 months) then employment as a software developer in <a
                        href="https://www.cybelangel.com/">Cybelangel</a>, a cybersecurity French start-up.</p>
                <p class="_summary">Internship in robotics in <a href="https://www.kawasaki.com/">Kawasaki</a> in
                    Japan (3 months).</p>
            </div>
        </li>


        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(static/images/diploma.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>My cursus</h3>
                </div>
                <p class="_summary">I am graduated from the <a href="http://www.ec-lyon.fr">Ecole Centrale de
                    Lyon</a>, as a software engineer. </p>
                <p class="_summary">I achieved French "Classes preparatoires" in mathematics and physics (MPSI) in
                    <a href="http://www.lycee-champollion.fr/">Champollion</a>. </p>
            </div>
        </li>

        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(static/images/computer.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>Technologies I master</h3>
                </div>
                <p class="_summary">Programming language: <span class="highlight">Python</span>, <span
                        class="highlight">Java</span>, <span class="highlight">PHP</span>, <span
                        class="highlight">C</span></p>
                <p class="_summary">Database management system: <span class="highlight">MongoDB</span>, <span
                        class="highlight">Cassandra</span>, <span class="highlight">MySQL</span>, <span
                        class="highlight">ElasticSearch</span></p>
                <p class="_summary">Operating systems: <span class="highlight">Linux</span> (Debian, Arch), <span
                        class="highlight">Windows</span></p>
                <p class="_summary">Others: <span class="highlight">Redis</span>, <span
                        class="highlight">RabbitMQ</span>, <span class="highlight">Kibana</span>, <span
                        class="highlight">Kibana</span></p>
            </div>
        </li>

        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(static/images/hobbies.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>Things I love</h3>
                </div>
                <p class="_summary"><span class="highlight">Computers</span>: programming, Linux, Raspberry Pi</p>
                <p class="_summary"><span class="highlight">Mountain sports</span>: trails, running, ski</p>
            </div>
        </li>

    </ol>
</div>
{% endblock %}